venv
__pycache__
app.db

static/projects/*
static/projects
test.zip
nlightsEnv
utils.md
test
.env
app.db
FlaskApp.spec
downsize.py
test/shaft/Bianco_4luci_0045.tif
envs
test.py

build
app.spec
Integrator
Integrator.spec
config.json
.vscode/launch.json
Integrator.exe
