{% macro spinner(id='') %}
<div class="spinner">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="18.2379" width="3.52423" height="12.3348" rx="1.76212" fill="#ADADAD" fill-opacity="0.6" />
        <rect x="4.61176" y="7.10352" width="3.52423" height="12.3348" rx="1.76211"
            transform="rotate(-45 4.61176 7.10352)" fill="#ADADAD" fill-opacity="0.4" />
        <rect x="32.8961" y="4.61133" width="3.52423" height="12.3348" rx="1.76211"
            transform="rotate(45 32.8961 4.61133)" fill="#ADADAD" fill-opacity="0.8" />
        <rect x="40" y="18.2383" width="3.52423" height="12.3348" rx="1.76212" transform="rotate(90 40 18.2383)"
            fill="#ADADAD" />
        <rect x="24.1742" y="26.666" width="3.52423" height="12.3348" rx="1.76211"
            transform="rotate(-45 24.1742 26.666)" fill="#ADADAD" />
        <rect x="13.3339" y="24.1738" width="3.52423" height="12.3348" rx="1.76211"
            transform="rotate(45 13.3339 24.1738)" fill="#ADADAD" fill-opacity="0.1" />
        <rect x="12.3348" y="18.2383" width="3.52423" height="12.3348" rx="1.76212"
            transform="rotate(90 12.3348 18.2383)" fill="#ADADAD" fill-opacity="0.2" />
    </svg>
</div>
{% endmacro %}