<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrator</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <link rel="stylesheet" href="{{url_for('static',filename='css/homepage.css')}}">
</head>
<script src="{{ url_for('static', filename='js/utility/jszip.min.js') }}"></script>

<script type="module" src="{{ url_for('static', filename='js/test.js') }}"></script>

<body>
    nulla
</body>

</html>